a{
    text-decoration: none;
    color: #a1a1a1;
}

h2{
    text-align: center;
}

#join2{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

#join2 a{
    display: block;
    text-align: center;
    margin: 0 auto;
}